<script defer>
  customElements.define(
    "book-link",
    class extends HTMLElement {
      static get observedAttributes() {
        return ["data-book-id"];
      }

      constructor() {
        super();

        const template = document.getElementById("book-link-template").content;
        const shadowRoot = this.attachShadow({ mode: "open" }).appendChild(
          template.cloneNode(true)
        );
      }

      get link() {
        return this.shadowRoot.querySelector("#link");
      }

      get bookId() {
        const idAttribute = this.attributes.getNamedItem("data-book-id");
        return idAttribute === null ? null : idAttribute.value;
      }

      attributeChangedCallback() {
        this.link.setAttribute("href", `/book?id=${this.bookId}`);
      }
    }
  );
</script>

<template id="book-link-template">
  <style>
    a {
      text-decoration: none;
    }

    a:visited,
    a:link {
      color: inherit;
    }

    a:hover,
    a:active {
      color: rebeccapurple;
    }
  </style>

  <a id="link">
    <slot></slot>
  </a>
</template>
