<script defer>
  customElements.define(
    "category-summary",
    class extends HTMLElement {
      static get observedAttributes() {
        return ["data-category-id"];
      }

      constructor() {
        super();

        const template = document.getElementById("category-template").content;
        const shadowRoot = this.attachShadow({ mode: "open" }).appendChild(
          template.cloneNode(true)
        );
      }

      get categoryId() {
        const idAttribute = this.attributes.getNamedItem("data-category-id");
        return idAttribute === null ? null : idAttribute.value;
      }

      get link() {
        return this.shadowRoot.querySelector("category-link");
      }

      attributeChangedCallback() {
        this.link.setAttribute("data-category-id", this.categoryId);
      }
    }
  );
</script>

<template id="category-template">
  <style>
    ::slotted(li) {
      list-style: none;
    }

    section > ul {
      line-height: 2em;
    }

    .breadcrumb {
      display: flex;
    }

    .breadcrumb ::slotted(li)::before {
      content: ">";
    }

    .breadcrumb ::slotted(li:first-of-type)::before {
      content: "";
    }
  </style>

  <section>
    <category-link><slot name="title"></slot></category-link>
    <nav>
      <ul class="breadcrumb">
        <slot name="parent"></slot>
      </ul>
    </nav>

    <slot></slot>
  </section>
</template>
