<script src="/js/category-summary.js"></script>

<template id="category-template">
  <link rel="stylesheet" href="/assets/reset.css" />
  <link rel="stylesheet" href="/assets/breadcrumb.css" />

  <style>
    ::slotted(li) {
      list-style: none;
    }

    section > ul {
      line-height: 2em;
    }
  </style>

  <section>
    <category-link><slot name="title"></slot></category-link>
    <nav>
      <ul class="breadcrumb">
        <slot name="parent"></slot>
      </ul>
    </nav>

    <slot></slot>
  </section>
</template>
