<script defer>
  customElements.define(
    "loading-indicator",
    class extends HTMLElement {
      static get observedAttributes() {
        return ["active"];
      }

      constructor() {
        super();

        const template = document.getElementById("loading-template").content;
        this.attachShadow({ mode: "open" });
        this.shadowRoot.appendChild(template.cloneNode(true));

        this.indicator.setAttribute("hidden", this.active);
      }

      get indicator() {
        return this.shadowRoot.querySelector("progress");
      }

      get active() {
        return this.attributes.getNamedItem("hidden");
      }

      attributeChangedCallback() {
        alert(this.active);
        this.indicator.setAttribute("hidden", this.active);
      }
    }
  );
</script>
<template id="loading-template">
  <style>
    progress {
      display: block;
    }
  </style>

  <progress></progress>
</template>
