body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0 10vw 0 10vw;
}

header {
    background: blueviolet;
    padding: 0.75vw;
}

main {
    background: lightgreen;
    padding: 1vw;
}

 nav > ol {
     list-style: none;
     padding-left: 0;
 }